body {
    background: black;
    
    font-family: 'Yuji Syuku', serif;
    font-size: 60px;
    color: aliceblue
      
}

p {
    font-size:24px;
}

h1 {
    text-shadow: 0 0 3px #FFFFFF, 0 0 5px #0000FF;
    font-size: 70px;
}

h2 {
    text-shadow: 0 0 10px #FF0000, 0 0 5px #0000FF;
}
background-image {
  filter: brightness(50%);
}

img {
    border: solid 7 px gold;
    /*filter: blur(4px);*/
}

table {
  table-layout: fixed ;
  width: 100% ;
}

td {
  width: 25% ;
}